

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-weight: bold;
    color: #677fa5;
}
@media (max-width: 768px) {
      #main-jumbo {
        background-image: url("../img/SeawayWarpedPromo2small.png");
        width: 100%;
        height: 1000px;
        margin-bottom: 0px;
    }
}
.navbar-toggle {
    float:left;
}
.glyphicon-globe {
    font-size: 20px;
    line-height: 80px;
}
.brand {
    max-width: 85px;
}
.colour-blind {
    max-width: 300px;
}
.album-promo {
    margin-top: 40px;
    text-align: center;
    float: right;
}

.dates {
    overflow: scroll;
}
.album {
    max-width: 600px;
}
.new-album {
    color: #d79a52;
}
.button {
    width: 400px;
    height: 50px;
    padding: auto;
    font-size: 20px;
    background-color: white;
    border: 4px solid;
    border-radius: 2px;
    margin: 10px;
    letter-spacing: 2px;
    transition: all .2s ease-in-out;
}
.button:hover {
    border: 4px solid #9662ad;
    color: #9662ad;
    transform: scale(1.1);
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;

}
.button:focus {
    text-decoration: none;
    outline: 0;
}
.button-wrapper {
    margin-top: 60px;
}
.on-tour {
    color: #d79a52;
    font-size: 80px;
    margin-top: 100px;
}
#myNavbar {
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
            margin-bottom: 0px;
}
.navbar-toggle {
    color: #5075a6;
}
.navbar-toggle span {
    background-color: #5075a6;
}

.nav li {
    float: right;
    margin: 10px;
}
.custom > li > a:hover {
    color: #76df80;
    background-color: #9662ad;
}
.nav > li.active > a,
        .nav > li.active > a:hover,
        .nav > li.active > a:focus {
          color: white;
          cursor: #ede51e;
          background-color: #677fa5;
          border: transparent;
          border-bottom-color: transparent;
          } 
#myCarousel {
    width:560px;
    height:315px;
    margin: auto;
}
.video-slider {
    text-align: center;
}
.main-banner {
    color: #d79a52;
    height: 900px;
    width: 100%;
    padding: 100px;
    text-align: center;
}
.album-promo {
    color: #677fa5;
}
#main-jumbo {
    background-image: url("../img/SeawayWarpedPromo.png");
    padding: 0px;
    width: 100%;
    height: 1000px;
    margin-top: -75px;
    margin-bottom: 0px;
    background-color: transparent;
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;    
}
#promo-jumbo {
    margin-bottom: 50px;
    background-image: url("../img/SeawayWarpedPromo.png");
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    min-height: 350px; 
}
‘
.main_logo {
    text-align: center;
    margin-top: -10px;
}

.carousel-inner { 
    margin-top: 100px;
    text-align: center; 
}

.tumblr_posts {   
    margin: 10px auto;
}
.tumblr_caption {
    background-image: url("../img/Background.jpg");
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
    
    padding: 10px;
    margin: 10px;
}
.tumblr_photo {
    background-image: url("../img/Background.jpg");
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
    padding: 10px;
}
.tumblr_video_iframe {
    text-align: center;
    background-image: url("../img/Background.jpg");
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
    padding: 10px;

}
.tumblr_post {      
    text-align: center;
    
    padding: 10px;
    margin: auto;
}
.tumblr_title { 

}
.tumblr_body img {  
    text-align: center;
}
.tumblr_text_post {
    background-image: url("../img/Background.jpg");
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
    padding: 10px;
    margin: 20px;
}
.read_more_container {
    
}
.read_more_container a {
    
}

ol.tumblr_posts{
    list-style: none;
    text-align: center;
}
.html_photoset {
    background-image: url("../img/Background.jpg");
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
    padding: 10px;
    margin: 10px;
}
.html5-video-container {
    background-image: url("../img/Background.jpg");
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
    padding: 10px;
    margin: 10px auto;
}
.embed_iframe {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.content {
    margin-topj: 30px;
}

.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
}
.album_info {
    text-align: center;
    background-image: url("../img/Background.jpg");
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
    padding: 10px;
    color: #5075a6;
    font-weight:100;
}
#album_header {
    margin-top: 70px;
    margin-bottom: auto;
}
      
.main_logo {
    text-align: center;
}

#social li {
    list-style-type: none;
    text-align: center;
    padding: 5px;
    display: inline-block;
    margin: auto;

}
.social-wrapper {
    margin-top: 850px;
    float: bottom;
    width: 100%;
    text-align: center;
}

.social-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    color: white;
    border: solid white 2px;
}
.social-button:hover {
    color: black;
    background-color: white;
    border: solid white 2px;
    -webkit-box-shadow: 0 8px 6px -6px #000000;
       -moz-box-shadow: 0 8px 6px -6px #000000;
            box-shadow: 0 8px 6px -6px #000000;
}

.single-text {
    margin-top: 80px;
    color: white;
    font-size: 30px; 


}
.single-banner {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;
    background-image: url("../img/Background.jpg");
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.single-video {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: transparent;
    text-align: center;

}
.preorder-bundle {
    text-align: center;
    margin-top: 20px;

}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
}
.promo-photo {
    margin-top: 100px;
    margin-bottom: 60px;
}
.promo-photo img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
}
body {
    text-align: center;
}

@media (max-width: 1400px) {
     #main-jumbo {
        background-image: url("../img/SeawayWarpedPromo2small.png");
        width: 100%;
        height: 1000px;
        margin-bottom: 0px;
    }
}
@media (max-width: 1400px) {
     .main-banner {
        height: 1300px;
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 768px) {
      #main-jumbo {
        background-image: url("../img/SeawayWarpedPromo2small.png");
        width: 100%;
        height: 1000px;
        margin-bottom: 0px;
    }
    .main-banner {
        height: 1000px;
        width: 100%;
        text-align: center;
    }
     .album {
        max-width: 400px;
        margin: 0px auto;
     }
      .album-promo {
        text-align: center;
    }
    .main-banner {
        text-align: center;
        padding: 20px;
    }
}
@media (max-width: 414px) {
     .main-banner {
        height: 1000px;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
     #main-jumbo {
        width: 100%;
        height: 600px;
    }
    .album {
        max-width: 300px;
        margin: 0px auto;
    }
    .button {
        width: 250px;
        height: 50px;
        padding: auto;
        font-size: 20px;
    }
    .button:hover {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .button-wrapper {
        margin-top: 50px;
    }
    .on-tour {
        font-size: 60px;
        margin-top: 50px;
    }
    .html5-video-container {
        max-width: 300px;
    }
    .video-slider2 iframe {
        max-width: 290px;
        max-height: 163px;
    }
    #myCarousel {
        max-width: 290px;
        max-height: 163px;

    }
    .tumblr_photo_post img {
        text-align: center;
        max-width: 210px;
    }
}
@media (max-width: 375px) {

    #social {
        margin-right: 45px;
        margin-bottom: -10px;
        margin-top: -5px;
    }
    .html5-video-container {
        max-width: 300px;
    }
    .video-slider2 iframe {
        max-width: 290px;
        max-height: 163px;
    }
    #myCarousel {
        max-width: 290px;
        max-height: 163px;

    }
    .tumblr_photo_post img {
        text-align: center;
        max-width: 210px;
    }
    #main-jumbo {
        background-image: url("../img/SeawayWarpedPromo2small.png");
        width: 100%;
        height: 370px;
        margin-bottom: 0px;
        background-color: transparent;
        background-position: 0% 20%;
        background-size: cover;
        background-repeat: no-repeat; 
    }
    .social-button {
        height: 33px;
        width: 33px;
        font-size: 12px;
        padding-top: 6px;“
    }
    .social-wrapper {
        margin-top: 310px;
        position: absolute;
        float: bottom;
        width: 100%;
        text-align: center;
    }
    .tumblr_post div {      
        “max-width: 300px;
    }
    .colour-blind {
        max-width: 200px;
    }
    .album-promo {
        margin-top: 40px;
        text-align: center;
    }
    .album {
        max-width: 200px;
    }
    .main-banner {
        height: 800px;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .button {
        width: 250px;
        height: 50px;
        padding: auto;
        font-size: 20px;
    }
    .button:hover {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .button-wrapper {
        margin-top: 50px;
    }
    .on-tour {
        font-size: 40px;
        margin-top: 50px;
    }
    .glyphicon-globe {
        font-size: 14px;
    }
}